@import "tailwindcss";
#root {
  width: 100%;
}
:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-custom {
  max-height: calc(100vh - 35vh);
  overflow: auto;
}
.table-custom::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
.table-custom::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.table-custom::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
  border-radius: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important; /* Optional: change text color */
  transition: background-color 5000s ease-in-out 0s; /* Prevents immediate color change */
}
:where(.css-dev-only-do-not-override-kbg4zp).ant-menu-light
  .ant-menu-item-selected,
:where(.css-kbg4zp).ant-menu-light .ant-menu-item-selected,
:where(.css-kbg4zp).ant-menu-light > .ant-menu .ant-menu-item-selected {
  background-color: #fff !important;
  color: #000 !important;
}
.bg-gradient-custom {
  background: #5757f7;
  background: radial-gradient(
    circle,
    rgba(87, 87, 247, 1) 0%,
    rgba(73, 207, 174, 1) 49%,
    rgba(220, 163, 255, 1) 100%
  );
}
